
<div class="navigation">

  <% if signed_in? %>

    <% if current_account_is_admin %>

      <ul id="admin-menu">
        <%= generate_menu_item "Events", events_path, NavigationHelper::EVENTS_MENU_ITEM_CLASS, 'icon_events.png' %>
        <%= generate_menu_item "VENs", vens_path, NavigationHelper::VENS_MENU_ITEM_CLASS, 'icon_vens.png' %>
        <%= generate_menu_item "Accounts", accounts_path, NavigationHelper::ACCOUNTS_MENU_ITEM_CLASS, 'icon_accounts.png' %>
        <%= generate_menu_item "Status & Export", data_export_status_path, NavigationHelper::DATA_EXPORT_MENU_ITEM_CLASS, 'icon_events.png' %>
      </ul>

    <% end %>

    <% if current_account_is_admin %>
      <ul>
        <%= generate_menu_item "VTN Config", market_contexts_path, NavigationHelper::VTN_CONFIG_MENU_ITEM_CLASS, 'icon_vtn.png' %>
        <%= generate_menu_item "TOU Schedules", tou_schedules_path, NavigationHelper::TOU_SCHEDULE_MENU_ITEM_CLASS, 'icon_events.png' %>
      </ul>
    <% end %>

    <% if !current_account_is_admin %>

      <ul class="user-menu">
        <%= generate_menu_item "Events", events_path, NavigationHelper::EVENTS_MENU_ITEM_CLASS, 'icon_events.png' %>
        <%= generate_menu_item "VENs", vens_path, NavigationHelper::VENS_MENU_ITEM_CLASS, 'icon_accounts.png' %>
        <%= generate_menu_item "Account", account_path(current_account), NavigationHelper::ACCOUNTS_MENU_ITEM_CLASS, 'icon_accounts.png' %>
        <%= generate_menu_item "Data Export", data_export_status_path, NavigationHelper::DATA_EXPORT_MENU_ITEM_CLASS, 'icon_events.png' %>
      </ul>
    <% end %>

    <ul>
      <%= generate_menu_item "Download VEN", root_path + 'epri-ven-current.zip', '', 'icon_vens.png' %>
    </ul>
<% end %>
</div>